
/*
@font-face es una propiedad de CSS3 : Import es la FORMA COMO LO RECOMIENDAN
*/
@font-face {
    font-family:PacificoCustom;
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}

* {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 8px;
}


body {
    background-color: rgba(248, 250, 242, 0.4);
    background-image: url("https://c.pxhere.com/images/12/83/9bcc9da6bc76e922b4395cf7fc99-1582801.jpg!d");
    /*background-size: 100%; si la imagen es pequeña entonces se distorciona*/
    background-attachment: fixed;/*Cuando hay que se hacer scrol la imagen no se mueve pero el texto si ohh*/
}

#box-one {
    background-color: rgb(48, 97, 81);
}

h1 {
    font-family: 'Comforter Brush', cursive;
    font-size: 40px;
    padding: 26PX;
    line-height: 90px;
    text-transform: uppercase;
    text-align: center;
    /*:::::::::::Colores:::::::::::*/
    /*Colores del sistema:
    https://www.w3schools.com/cssref/css_colors.asp*/
    color: antiquewhite;

    /*Colores Hexadecimales */
    color: #ffffff;
    /*Colores RGB*/
    color: rgb(6, 73, 45);

    background-color: rgb(149, 158, 155);

    /*Colores RGBA: para majo de transparencia*/
    color: rgba(6, 73, 45, 0.4);  
}
h2 {
    font-family:  PacificoCustom, "Arial";
    color: rgb(6, 73, 45);
    background: rgb(205, 205, 233);
    font-size: 20px;
    padding: 20PX;
}
h3 {
    font-family:"Comic Sans MS";
    font-size: 15px;
}
a{
    font-size: 18px;
    color: rgb(50, 45, 56);
    background: rgb(226, 210, 241); 
    text-decoration: none;
    transition: background-color .5s;
}
a:hover {
    background: rgb(198, 163, 235);
  }



footer {
    background-color: rgb(64, 58, 77);
    color: white;
    padding: 30px;
}

footer a{
    font-size: 18px;
    color: rgb(240, 239, 241);
    background: rgb(8, 32, 15); 
    text-decoration: none;
    transition: background-color .5s;
}
footer a:hover {
    background: white;
    color: rgb(0, 0, 0);
  }

#description,
#otroId {
    background-color: rgb(253, 246, 231);
}

.impact-class{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pagraph{
    font-size: 20px;
    text-align: justify;
    text-indent: 18px;
    word-spacing: 8px;
    letter-spacing: 8px;
}

.main-pagraph{
    color: rgb(172, 105, 75);
    padding: 15px;
    
}

.default-pagraph{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

#user form{
    border: 5px solid rgb(235, 224, 211) ;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#user form *{
    display: block;
}

input[type="text"]{
    margin-bottom: 15px;
    padding: 8px;
    width: 300px;
}

input[type="submit"]{
    background: rgb(71, 78, 64);
    color: white;
    width: 300px;
    transition: background-color .9s;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: white;
    color: rgb(0, 0, 0);
}

#menu > li > a{
    font-size: 18px;
    color: white;
    background: rgb(255, 145, 145); 
    text-decoration: none;
    transition: background-color .5s;
}

#menu > li > a:hover {
    background: rgb(211, 188, 235);
}


